# SITE
NEXT_PUBLIC_FATHOM_CODE=CODE
NEXT_PUBLIC_FATHOM_DOMAIN=yourdomain.com

# DATABASE
DATABASE_URL=postgres://postgres:postgres@0.0.0.0:5432/app

# Email
MAIL_TRANSPORT=SMTP
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
# MAIL_SECURE=true
MAIL_USER=you@example.com
MAIL_PASSWORD=hunter2
MAIL_FROM=you@example.com